<!DOCTYPE html>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
{{/each}}
{{/if}}
<html>
<head>
<title>File Upload Box</title>
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            
            <li role="presentation"><a href="/users/works">View All Work</a></li>
             </ul>
        </nav>
       
      </div>
</body>
</html>